    </div>
        <div id="footer" class="ui footer segment">
            <div class="center aligned container">
                <div class="ui container">
                    <p class="ui middle aligned center aligned text container">&copy; 2018 Copyright: ERKhusainov</p>
            </div>
        </div>
    </div>

    <script src="semantic/out/semantic.min.js"></script>
    <script>
        $('.menu .item')
        .tab();
    </script>
    
</body>
</html>